[submodule "Usul/vendor/spdlog"]
	path = Usul/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Usul/vendor/GLFW"]
	path = Usul/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Usul/vendor/imgui"]
	path = Usul/vendor/imgui
	url = https://github.com/ocornut/imgui.git
